{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
<div class="App">
    <header class="App-header">
        {#        <img src="{% static 'Octocat.png' %}" class="App-logo" alt="logo"/>#}
        <p>Gazi Ashiq</p>
        <p>
            GitHub Codespaces <span class="heart">♥️</span> Django
        </p>
        <p class="small">
            Edit <code>hello_world/templates/index.html</code> and see changes live!
        </p>
    </header>
</div>
<div class="content">
    {% if name %}
        <h1>Hello {{ name }}</h1>
    {% else %}
        <h1>Hello World</h1>
    {% endif %}
</div>
</body>

</html>
